<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      Placeholder for now
      	<div class="center jumbotron">
		  <h1>place for alarms</h1>


		  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
		</div>
    </p>
  </body>
</html>